<footer class="footer">
    <h2 class="footer__title">Контакты ЗАО НПП "АО РАДИОКОМ"</h2>
    <p class="footer__section__info">Бесплатный номер горячей линии ЗАО НПП "АО РАДИОКОМ": <a href="tel:88001001181">8-800-100-11-81</a></p>
    <section class="footer__section">
            <p class="footer__section__info">E-mail: <a href="mailto:scgas.spb@mail.ru">scgas.spb@mail.ru</a></p>
            <p class="footer__section__info">М.т.: <a href="tel:+79052029258">+7 905 202 92 58</a></p>
            <p class="footer__section__info">Viber: <a href="tel:+79052029258">+7 905 202 92 58</a></p>
            <p class="footer__section__info">Telegram: <a href="tel:+79052029258">+7 905 202 92 58</a></p>
    </section>
</footer>