<main style="background: aliceblue; margin: 30px; padding: 20px;">
    <div>
        <img src="" alt="" style="height: 100px;width: 100px;background: blueviolet;">
        <p>Сервисное обслуживание автоматизированных систем</p>
    </div>
    <div>
        <img src="" alt="" style="height: 100px;width: 100px;background: blueviolet;">
        <p>Проектирование и прокладка локальных вычислительных сетей</p>
    </div>
    <div>
        <img src="" alt="" style="height: 100px;width: 100px;background: blueviolet;">
        <p>Проектирование и монтаж систем пожарной сигнализации</p>
    </div>
</main>