<h1 class="app__title">Создать заявку</h1>
<form id="applicationForm" class="create__app__form">
    <input class="create__app__form-input" type="text" id="name" placeholder="Название" required>
    <textarea class="create__app__form-textarea" id="description" placeholder="Описание" required></textarea>
    <button class="create__app__form-button" type="submit">Создать</button>
</form>
<div id="result"></div>

<h1 class="app__title">Список заявок</h1>
<ul class="list__app">
</ul>

<script src="../scripts/listApp.js"></script>
<script src="../scripts/formApplication.js"></script>
