<main class="service__menu">
    <a href="/techsupport/ARM" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">Название</p>
        </section>
    </a>
    <a href="/techsupport/ARM" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">Название</p>
        </section>
    </a>
    <a href="/techsupport/ARM" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">Название</p>
        </section>
    </a>
    <a href="/techsupport/ARM" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">Название</p>
        </section>
    </a>
    <!-- Переименовать страницы -->
    <a href="/techsupport/ARM" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">Название</p>
        </section>
    </a>
</main>