<main class="main">
    <section class="main__section">
        <h2 class="main__section__date">10.09.2021</h2>
        <p class="main__section__text">
            Специалисты ЗАО НПП «АО РАДИОКОМ» в субъектах СЗФО провели обучение членов участковых комиссий, назначенных операторами комплексов обработки избирательных бюллетеней (КОИБ).
        </p>
        <div class="main__section__container">
            <img src="" style="height: 100px; width: 100px; background: aqua;">
        </div>
    </section>
</main>