<main class="service__menu">
    <a href="/techsupport/mfu" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">Катюша</p>
        </section>
    </a>
    <a href="/techsupport/mfu" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">Ricon</p>
        </section>
    </a>
    <a href="/techsupport/mfu" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">+++</p>
        </section>
    </a>
    <a href="/techsupport/mfu" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">+++</p>
        </section>
    </a>
    <a href="/techsupport/mfu" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">+++</p>
        </section>
    </a>
</main>