<main class="service__menu">
    <a href="/servicecenter/activity" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">Деятельность</p>
        </section>
    </a>
    <a href="/servicecenter/certificatessc" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">Сертификаты специалистов СЦ</p>
        </section>
    </a>
    <a href="/servicecenter/authorizationsc" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">Авторизация СЦ</p>
        </section>
    </a>
    <a href="/servicecenter/gratitudes" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">Благодарности</p>
        </section>
    </a>
</main>