<main class="service__menu">
    <a href="/techsupport/szi_skzi" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">Соболь</p>
        </section>
    </a>
    <a href="/techsupport/szi_skzi" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">+++</p>
        </section>
    </a>
    <a href="/techsupport/szi_skzi" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">+++</p>
        </section>
    </a>
    <a href="/techsupport/szi_skzi" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">+++</p>
        </section>
    </a>
    <!-- Переименовать страницы -->
    <a href="/techsupport/szi_skzi" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">+++</p>
        </section>
    </a>
</main>