<main class="service__menu">
    <a href="/techsupport/szi_skzi" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">СЗИ, СКЗИ</p>
        </section>
    </a>
    <a href="/techsupport/mfu" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">МФУ</p>
        </section>
    </a>
    <a href="/techsupport/ARM" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">Системный блок(АРМ)</p>
        </section>
    </a>
    <a href="/techsupport/PSPD" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">ПСПД</p>
        </section>
    </a>
    <a href="/techsupport/UPS" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">Источники бесперебойного питания</p>
        </section>
    </a>
</main>