<main style="display: flex; justify-content: center;">
    <iframe id="blockrandom" name="iframe"
            src="https://www.rcoit.ru/education/tipovoy_tik/12/KOIB/" width="99%" height="700"
            scrolling="auto" frameborder="1" title="Тренажер по тестированию КОИБ-2017" class="wrapper">
    </iframe>
</main>