<main class="service__menu">
    <a href="/techsupport/UPS" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">1.2</p>
        </section>
    </a>
    <a href="/techsupport/UPS" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">1.5</p>
        </section>
    </a>
    <a href="/techsupport/UPS" class="service__button-link">
        <section class="card__button">
            <p class="card__button-text">5.0</p>
        </section>
    </a>
</main>