<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Радиоком, сервисный центр, выборы, КОИБ">
    <meta name="description" content="Сервисный центр СПБ ЗАО НПП АО Радиоком">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="../css/style.css">
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js" integrity="sha512-UnrKxsCMN9hFk7M56t4I4ckB4N/2HHi0w/7+B/1JsXIX3DmyBcsGpT3/BsuZMZf+6mAr0vP81syWtfynHJ69JA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Сервисный центр СПБ</title>
</head>
    <body class="body">
        {{>header}}
        {{{ body }}}
        {{>footer}}
    </body>
</html>